@import "tailwindcss";

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

/* Variables de couleurs */
:root {
  --color-cream: #fafcfb;
  --color-blue-gray: #b7cede;
  --color-light-blue: #d0e1e8;
  --color-pink-beige: #ebdfe1;
  --color-salmon: #dfb9b6;
  --color-teal: #90c8d0;
  --color-light-gray: #d2d2d2;
  --color-medium-gray: #a3a4a4;
}
